body {
	margin: 0;
}
.another {
	text-decoration: none;
	-webkit-appearance: none;
	background-color: #fe4b3e;
	color: white;
	width: 30%;
	margin: 20px 35% 10px 35%;
	height: 80px;
	border: none;
	font-size: 300%;
}
.password {
	width: 90%;
	padding: 20px 5% 20px 5%;
	float: left;
	background-color: #fe4b3e;
	text-align: center;
	color: white;
	font-size: 300%;
	
}
.password p {
	font-size: 200%;
}